@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("/images/header-illsutration-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div.container{
    display: flex;
    flex-direction: column;
}

div.container h2{
    margin-left: 12px;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    line-height: 116%;
    font-family: 'Inter', sans-serif;
    color: #28352F;
}

nav.flex-nav{
    display: flex;
}

div.main-text{
    display: flex;
    background-color: brown;
}

div.main-text h1{
    margin-top: 64px;
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-size: 40px;
    line-height: 107%;
    color: #172B4D;
}

div.main-text span{
    color: #36B37E;
}

div.supporting-text{
    display: flex;
    background-color: blueviolet;
    margin-top: 12px;
}

div.social{
    display: flex;
    background-color: orange;
    margin-top: 12px;
}