@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("/images/header-illsutration-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

div.main-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


nav.flex-nav h2{
    margin-left: 12px;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    line-height: 116%;
    font-family: 'Inter', sans-serif;
    color: #28352F;
}

nav.flex-nav{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

div.main-text{
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 74px;
}

div.main-text h1{
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-size: 40px;
    line-height: 107%;
    color: #172B4D;
}

div.main-text h2{
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-size: 40px;
    line-height: 107%;
    color: #36B37E;

}

div.supporting-text{
    margin-top: 58px;
    display: flex;
}

div.supporting-text p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 116%;
    color: #172B4D;
}

div.social{
    width: 150px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}