@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url("/images/header-illsutration-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

div.main-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


nav.flex-nav h2{
  margin-left: 12px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 7px;
  font-style: normal;
  line-height: 116%;
  font-family: 'Inter', sans-serif;
  width: 90px;
  height: 22px;
  color: #28352F;
}

nav.flex-nav{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

.container{
  float: right;
  height: 25px;
  width: 40px;
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menulogo{
  height: 3px;
  width: 16px;
  background-color: #ACB7C3
}

div.main-text{
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 74px;
  height: 192px;
  width: 327px;
}

div.main-text h1{
  font-family: 'Inter', sans-serif;
  font-style: bold;
  font-size: 40px;
  line-height: 107%;
  color: #172B4D;
}

div.main-text h2{
  font-family: 'Inter', sans-serif;
  font-style: bold;
  font-size: 40px;
  line-height: 107%;
  color: #36B37E;

}

div.supporting-text{
  margin-top: 58px;
  display: flex;
  align-self: center;
  width: 327px;
  height: 164px;
}

div.supporting-text p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 116%;
  color: #172B4D;
}

div.social{
  margin-top: 58px;
  width: 150px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

div.social:hover{
  background-color: rgb(241, 235, 225);
  animation-timing-function: ease-in-out 2s;
}

div.button button img{
  border: none;
  align-self: center;
  background: white;
  position: absolute;
  border-radius: 50%;
  top: 90%;
  left: 50%;
  }

div.button button img:hover{
  background-color: gray;
}
