@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("/images/header-illsutration-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div.container{
    display: flex;
}

div.container h2{
    margin-left: 12px;
    font-weight: 600;
    font-size: 20px;
    color: #28352F;
}

nav.flex-nav{
    display: flex;
}

div.main-text{
    display: flex;
    background-color: aquamarine;
}

div.supporting-text{
    display: flex;
    background-color: blueviolet;
    margin-top: 12px;
}

div.social{
    display: flex;
    background-color: orange;
    margin-top: 12px;
}