*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("/images/header-illsutration-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div.container{
    display: flex;
}

.burger_menu{
    height: 3px;
    width: 10px;
    color: aqua;
}

div.main-text{
    display: flex;
    background-color: aquamarine;
}

div.supporting-text{
    display: flex;
    background-color: blueviolet;
    margin-top: 12px;
}

div.social{
    display: flex;
    background-color: orange;
    margin-top: 12px;
}