@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/header-illsutration-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

div.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header.flex-nav a {
  margin-left: 12px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 7px;
  font-style: normal;
  line-height: 116%;
  font-family: "Inter", sans-serif;
  width: 90px;
  height: 22px;
  color: #28352f;
}

nav.flex-nav {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.container {
  float: right;
  height: 25px;
  width: 40px;
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menulogo {
  height: 3px;
  width: 16px;
  background-color: #acb7c3;
}

section.main{
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.main-text {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

div.main-text h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 107%;
  color: #172b4d;
  margin-top: 74px;
  width: 372px;
}

div.main-text h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 107%;
  color: #36b37e;
  height: 120px;
  width: 372px;
}

div.supporting-text {
  margin-top: 58px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

div.supporting-text p {
  display: flex;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  width: 327px;
  height: 164px;
  line-height: 116%;
  color: #172b4d;
}

div.social {
  display: flex;
  width: auto;
  justify-content: center;
  letter-spacing: 20px;
}

div.button {
  border-radius: 50%;
  margin-top: 50px;
  color: grey;
  display: flex;
  justify-content: center;
  align-self: center;
}

div.button i.fa-arrow-down {
  padding-top: 10px;
  border: 2px solid black;
  border-radius: 100%;
  background: grey;
  width: 40px;
  height: 40px;
}